*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    background-color: darkgrey;

}

a {
    color: #333;
    text-decoration: none;
}

.container {
    padding: 0 1rem;
    width: 80%;
    margin: 10px auto 0;
}

.btn{
    display: inline-block;
    border: none;
    background:rgb(28, 129, 33);
    color: #fff;
    padding:7px 20px;
    cursor: pointer
}

.btn:hover{
    background:#666;
}